.wrapper {
  background: $btntext;
}

.title {
  @include font();
  @include trans();
  padding-bottom: rem(15px);
  font-size: rem(56px);
  color: $maincolor;
}

.desc {
  @include font();
  @include trans();
  padding-bottom: rem(50px);
  font-size: rem(13px);
  color: $desccolor;
}

.btn {
  @include font();
  @include trans();
  display: inline-block;
  padding: rem(25px) rem(45px);
  text-transform: uppercase;
  font-size: rem(12px);
  color: $btntext;
  background: $btnbg;

  &:hover {
    background: $nextbtnbg;
  }

  &:active {
    color: $btnbg;
    background: $btntext;
  }
}

.old-price {
  display: inline-block;
  text-decoration: line-through;
  font-size: rem(13px);
}
