.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20px) 0;

  @include tablet {
    flex-wrap: wrap;
  }
}

.nav__link {
  @include font(sbold);
  @include trans();
  padding: rem(10px);
  margin-right: rem(70px);
  text-transform: uppercase;
  font-size: rem(12px);
  color: $maincolor;

  &:hover {
    background: $btnbg;
    color: $btntext;
  }

  &:active {
    color: $btnbg;
  }

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-right: rem(50px);
  }

  @include laptop {
    margin-right: rem(10px);
  }

  @include tablet {
    margin-bottom: rem(10px);
  }
}
