.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(20px) 0;
}

.nav__link {
  @include font(sbold);
  padding: rem(10px);
  margin-right: rem(70px);
  font-size: rem(12px);
  text-transform: uppercase;
  color: $maincolor;
  transition: all .3s;

  &:hover {
    background: $btnbg;
    color: $btntext;
  }

  &:active {
    color: $btnbg;
  }

  &:last-child {
    margin-right: 0;
  }
}
