.search {
  position: relative;
  cursor: pointer;

  &:hover {
    .header__link {
      transform: scale(1.2);
    }

    .search-dropdown {
      left: 0;
      opacity: 1;
    }
  }
}

.search-dropdown {
  position: absolute;
  top: 22px;
  left: -9999px;
  opacity: 0;
  transition: opacity .3s;

  &:before {
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    display: block;
    height: 30px;
    content: "";
  }
}

.search-dropdown__input {
  @include font();
  width: rem(420px);
  padding: rem(15px) rem(50px) rem(15px) rem(15px);
  font-size: rem(13px);
  outline: none;
  box-shadow: $shadow;
  border: none;
  color: $desccolor;
}

.search-dropdown__submit {
  position: absolute;
  top: 50%;
  right: 10px;
  width: rem(20px);
  height: rem(20px);
  padding: 0;
  margin-top: rem(-10px);
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    .search-dropdown__svg {
      fill: $btnbg;
    }
  }

  &:active {
    .search-dropdown__svg {
      fill: $btntext;
    }
  }
}

.search-dropdown__svg {
  @include trans();
  @extend %img;
  fill: $prossvg;
}
