.assortment {
  padding: $secpad 0;
}

.assortment__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  @include desktop {
    justify-content: space-evenly;
  }
}

.assortment__item {
  margin-bottom: rem(40px);

  @include laptop {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.assortment__link {
  position: relative;
  display: block;
  width: rem(445px);
  height: rem(440px);
  background: $assortmentbg;

  img {
    @extend %img;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: rem(250px);
    height: rem(65px);
    margin-left: rem(-125px);
    text-align: center;
    border: none;
    color: $btnbg;
    background: $btntext;
    cursor: pointer;

    &:hover {
      color: $btntext;
      background: $btnbg;
    }

    &:active {
      background: $nextbtnbg;
    }
  }
}
