.brands {
  padding: $secpad 0;
}

.brands__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brands__link {
  @include trans();
  display: block;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: none;
  }
}
