.category {
  background: $categorybg;

  .container {
    display: flex;
    align-items: center;
  }
}

.category__img {
  width: 50%;
  height: 100%;

  img {
    @extend %img;
  }
}

.category__text {
  width: 50%;
  padding: rem(30px) 0;
  text-align: center;

  .title {
    position: relative;
    padding-bottom: rem(70px);
    font-size: rem(42px);

    &:after {
      position: absolute;
      bottom: rem(40px);
      left: 50%;
      width: rem(100px);
      height: 2px;
      margin-left: rem(-50px);
      background: $linecolor;
      content: "";
    }
  }

  .desc {
    max-width: rem(500px);
    margin: auto;
  }

  .btn {
    border: 1px solid $btnbg;
    color: $btnbg;
    background: $btntext;

    &:hover {
      background: $btnbg;
      color: $btntext;
    }

    &:active {
      color: $btnbg;
    }
  }

  @include desktop {
    padding: rem(30px) rem(30px);

    .title {
      padding-bottom: rem(50px);

      &:after {
        bottom: rem(30px);
      }
    }
  }

  @include laptop {
    .desc {
      padding-bottom: rem(20px);
    }

    .btn {
      padding: rem(15px) rem(20px);
    }
  }
}
