.header {
  position: relative;
  z-index: 100;
  padding-top: rem(30px);
  margin-bottom: rem(-210px);

  @include tablet {
    margin-bottom: rem(-225px);
  }
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(30px);
  border-bottom: 1px solid $linecolor;
}

.header__svg-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.header__link {
  @include trans();
  position: relative;
  display: block;
  width: rem(25px);
  height: rem(25px);

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: none;
  }

  @include tablet {
    width: rem(20px);
    height: rem(20px);
  }
}

.header__svg {
  @extend %img;
  fill: $maincolor;
}

.logo {
  @include trans();
  display: block;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: none;
  }

  @include mobile {
    width: rem(150px);

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.buyings-count {
  @include font(medium);
  @include trans();
  position: absolute;
  right: -5px;
  bottom: -4px;
  width: rem(15px);
  height: rem(15px);
  padding-top: 1px;
  text-align: center;
  line-height: 15px;
  font-size: 8px;
  border-radius: 50%;
  color: $btntext;
  background: $btnbg;
}
