.header__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(30px);
  border-bottom: 1px solid $linecolor;
}

.header__svg-wrapper{
  display: flex;
}

.header__head-link{
  position: relative;
  display: block;
  transition: all .3s;

  &:hover{
    transform: scale(1.1);
  }

  &:active{
    transform: none;
  }

  &:first-child{
    margin-right: rem(25px);
  }
}

.header__svg{
  width: rem(25px);
  height: rem(25px);
  fill: $maincolor;
}

.logo{
  display: block;
  transition: all .3s;

  &:hover{
    transform: scale(1.1);
  }

  &:active{
    transform: none;
  }
}

.buyings-count{
  @include font(medium);

  position: absolute;
  right: -5px;
  bottom: 2px;

  width: 15px;
  height: 15px;
  padding-top: 1px;
  font-size: 8px;
  line-height: 15px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: $btntext;
  background: $btnbg;
}