.map {
  .container {
    position: relative;
  }
}

.gmap {
  width: 100%;
  height: rem(400px);
}

.map__info {
  position: absolute;
  top: 50%;
  left: 20%;
  width: rem(330px);
  height: rem(200px);
  padding: rem(35px);
  margin-top: rem(-100px);
  box-shadow: 0 10px 25px rgba(1, 2, 3, .15);
  background: $btntext;

  p {
    @include font();
    padding-bottom: rem(15px);
    font-size: rem(13px);
    color: $btnbg;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.map__svg {
  @include trans();
  position: absolute;
  right: 15px;
  bottom: 25px;
  width: rem(30px);
  height: rem(30px);
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: none;
  }
}
