.trending {
  padding: $secpad 0;

  .title {
    font-size: rem(42px);
    text-align: center;
  }

  .desc {
    max-width: rem(735px);
    margin: auto;
    text-align: center;
  }
}

.tabs {
  margin-bottom: rem(50px);
  text-align: center;
  font-size: 0;

  .active {
    background: $nextbtnbg;

    &:after {
      border-top-color: $nextbtnbg;
    }

    .tabs__link {
      color: $linecolor;
    }
  }
}

.tabs__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: rem(140px);
  margin-right: rem(20px);
  font-size: rem(14px);
  background: $tabsitem;
  transition: all .3s;

  &:after {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: rem(-15px);
    border: rem(15px) solid transparent;
    border-bottom: 0;
    border-top-color: $tabsitem;
    content: "";
    transition: all .3s;
  }

  &:hover {
    background: $nextbtnbg;

    &:after {
      border-top-color: $nextbtnbg;
    }

    .tabs__link {
      color: $linecolor;
    }
  }

  &:active {
    .tabs__link {
      color: $nextbtnbg;
    }
  }
}

.tabs__link {
  @include font();
  display: block;
  height: 100%;
  padding: rem(10px) 0;
  color: $btnbg;
  transition: all .3s;
}

.trending__products-page {
  padding: rem(25px) 0;
  text-align: center;
  background: $assortmentbg;

  .btn {
    padding: rem(25px) rem(60px);
  }
}

.products__list {
  text-align: center;
  margin-right: rem(-25px);
  font-size: 0;
}

.products__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: rem(25px);
  margin-bottom: rem(40px);

  &:hover {
    .products__img {
      .btn_left {
        left: 0;
        opacity: 1;
      }

      .btn_right {
        right: 0;
        opacity: 1;
      }

      .products__img-hover {
        opacity: 1;
      }
    }

    .desc {
      opacity: 0;
    }

    .products__colors {
      opacity: 1;
    }
  }

  * {
    font-size: 16px;
  }

  .title {
    font-size: rem(14px);
  }

  .desc {
    display: inline-block;
    padding-bottom: 0;
    margin-right: rem(10px);
    font-size: rem(16px);
    transition: all .3s;
  }
}

.products__img {
  position: relative;
  width: rem(350px);
  height: rem(460px);
  margin-bottom: rem(15px);

  img {
    @extend %img;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: rem(18px) 0;
    margin: rem(15px);
    display: inline-block;
    width: rem(150px);
    height: 50px;
    font-size: rem(11px);
    color: $btnbg;
    background: $btntext;
    opacity: 0;
    transition: opacity .3s, color .3s, background .3s;

    &:hover {
      color: $btntext;
      background: $nextbtnbg;
    }

    &:active {
      color: $nextbtnbg;
    }
  }
}

.btn_left {
  left: -9999px;
}

.btn_right {
  right: 9999px;
}

.products__img-hover {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(#c5c5c5, .5);
  opacity: 0;
  transition: opacity .3s;
}

.label {
  @include font();
  position: absolute;
  top: 0;
  padding: rem(5px) rem(12px);
  margin: rem(15px);
  font-size: rem(12px);
}

.new {
  right: 0;
  color: $btntext;
  background: $btnbg;
}

.discount {
  left: 0;
  color: $btntext;
  background: $discount;
  &:before {
    content: "-";
  }
}

.products__colors {
  position: absolute;
  bottom: 0;
  left: rem(120px);
  text-align: center;
  font-size: 0;
  opacity: 0;
  transition: all .3s;

  .active {
    margin-left: rem(5px);
    margin-right: rem(12px);
    border: 1px solid $btnbg;
    transform: scale(1.4);
  }
}

.color-red,
.color-orange,
.color-green,
.color-blue {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: rem(7px);
  transition: all .3s;

  &:hover {
    transform: scale(1.4);
  }

  &:active {
    transform: none;
  }

  * {
    font-size: 16px;
  }
}

.color-red {
  background: $cred;
}

.color-orange {
  background: $corange;
}

.color-green {
  background: $cgreen;
}

.color-blue {
  background: $cblue;
}
