@keyframes instagram {
    0%   {color: $btntext;}
    10%  {color: blue;}
    20%  {color: red;}
    30%  {color: yellow;}
    40%  {color: green;}
    50%  {color: orange;}
    60%  {color: olive;}
    70%  {color: black;}
    80%  {color: purple;}
    90%  {color: violet;}
    100% {color: $btntext;}
}