@keyframes instagram {
  0% {
    color: $btntext;
  }
  10% {
    color: #d32f2f;
  }
  20% {
    color: #c2185b;
  }
  30% {
    color: #7b1fa2;
  }
  40% {
    color: #5d4037;
  }
  50% {
    color: #e64a19;
  }
  60% {
    color: #1976d2;
  }
  70% {
    color: #0097a7;
  }
  80% {
    color: #388e3c;
  }
  90% {
    color: #fbc02d;
  }
  100% {
    color: $btntext;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
