$maincolor: #161918;
$linecolor: #d4d4d4;
$desccolor: #7f7f7f;
$btntext: #ffffff;
$btnbg: #000000;
$nextbtnbg: #292929;
$sliderbtn: #979797;
$prossvg: #818181;
$copyright: #959494;
$footerbg: #1e1b1b;
$assortmentbg: #f5f5f5;
$tabsitem: #eeeeee;
$secpad: rem(40px);
$discount: #c55353;
$cred: #efacac;
$corange: #edd9a2;
$cgreen: #b0dfb8;
$cblue: #b7cdd4;
$categorybg: #fafafa;
